<h2> Afisare utilizatori </h2>

@foreach (var user in ViewBag.Users)
{
    @if (user.Id != ViewBag.User.Id) {
        <h1>@user.UserName</h1>
        <p>@user.Email</p>
        <br />

        @if (ViewBag.Friends.Contains(user.Id) == true) {
            @*afisam ca deja e prieten mai frumos*@
            <p>Deja prieteni</p>
        }

        @if (ViewBag.Friends.Contains(user.Id) == false)
        {
            <form method="post" action="/Friends/AddFriend">
                <input type="hidden" name="UserId" value="@user.Id" />
                <button type="submit">Add Friend</button>
            </form>
            <hr />
        }
        @*
        <ul>
            @foreach (var friend in user.SentRequests)
            {
                //  <li>@friend.User2.UserName</li>
            }

            @foreach (var friend in user.ReceivedRequests)
            {
                //    <li>@friend.User1.UserName</li>
            }
        </ul>
        *@
        <hr />
    }
}