<h2> Afisare utilizatori </h2>

@for (var i = 0; i < ViewBag.UserLength; i++)
{
    
    @if (ViewBag.Users[i].Id != ViewBag.CurrentUser.Id)
    {
        <h1>@ViewBag.Users[i].UserName</h1>
        <p>@ViewBag.Users[i].Email</p>
        <br />

        @if (ViewBag.UserFriends.Contains(ViewBag.Users[i].Id) == true  )
        {
            @*afisam ca deja e prieten mai frumos*@
            <p>Deja prieteni</p>

        }
        @*

        @if (ViewBag.UserFriends.Contains(ViewBag.Users[i].Id) == true ViewBag.Accepted[i] == false)
        {
            
            <p>In asteptare</p>

        }
        *@
        @if (ViewBag.UserFriends.Contains(ViewBag.Users[i].Id) == false)
        {
            <form method="post" action="/Friends/AddFriend">
                <input type="hidden" name="UserId" value="@ViewBag.Users[i].Id" />
                <button type="submit">Add Friend</button>
            </form>
            <hr />
        }
        <a class ="btn btn-success "href="/Profiles/Show/@ViewBag.Profiles[i]">Vezi profilul</a>
        @*
        <ul>
            @foreach (var friend in user.SentRequests)
            {
                //  <li>@friend.User2.UserName</li>
            }

            @foreach (var friend in user.ReceivedRequests)
            {
                //    <li>@friend.User1.UserName</li>
            }
        </ul>
        *@
        <hr />
    }
}