@model AboutNow.Models.Journal
<h2 class="text-center" > Adaugare Jurnal </h2>
<br />

<form method="post" action="/Journals/New">

    @Html.Label("Title","Titlul Jurnalului")
    <br />

    @Html.TextBox("Title",null,new {@class = "form-control",@placeholder = "How should we name it?"})
    <br />
    
    @Html.Label("Content","Continutul Jurnalului")


    <br />
    @Html.TextArea("Content",null,new {@class = "form-control",@placeholder = "What's on your mind?"})

    <br />
    <br />

    <label>Selectati categoria</label>
    @Html.DropDownListFor(m => m.CategoryId, new SelectList(Model.Categ, "Value", "Text"),
    "Selectati categoria", new { @class = "form-control"})
    <br />
    <button class="btn btn-warning mt-5" type = "submit">Adauga Jurnal</button>

    


</form>